{% extends 'base_with_margins.html' %}
{% load extras %}
{% load highlight %}
{% block title %}
    {% if request.GET.q %}
        Search results for '{{ request.GET.q }}'
    {% else %}
        Search Legislation
    {% endif %}
{% endblock %}
{% block content %}
    <br/>
    <div class='jumbotron'>
        <h3>Search {{city_name}} Legislation</h3>
        <form method="get" action=".">
            <div class="input-group">
                <input name="q" type="text" class="input-lg form-control" placeholder="{{search_placeholder_text}}" value="{{ request.GET.q }}">
                <div class='input-group-btn'>
                    <button type="submit" class="btn btn-lg btn-info">
                        <i class='fa fa-fw fa-search'></i>
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#search-filters-mobile">
                    <h3 class="panel-title">Filter results <i class="fa fa-fw fa-plus pull-right"></i></h3>
                </div>
                <div class="panel-body collapse" id="search-filters-mobile">
                    {% for f_name, facet_values in facets.fields.items %}
                    <p><strong>{{ f_name | facet_name }}</strong></p>
                    <ul class="search-facet-list">
                        {% for name, count in facet_values %}
                            {% if count %}
                                <li class="small">
                                    <a href="/search/?q={{query}}&selected_facets={{f_name}}_exact:{{name}}" title="{{ name|title }}">
                                        {{ name|committee_topic_only|title|short_title }}
                                    </a> 
                                    {% if f_name != 'sponsorships' %}
                                        <span class="badge badge-muted pull-right">{{ count }}</span>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="col-sm-8">
            {% if query %}
                <h3>{{ paginator.count }} legislation result{{ paginator.count|pluralize }} for '{{ request.GET.q }}'</h3>
            {% endif %}

        {% for result in page.object_list %}

            <h3>
                <a href="/legislation/{{ result.object.slug }}">{{ result.object.friendly_name }}</a>
                <span class='pull-right label label-{{result.object.inferred_status | lower}}'>{{result.object.inferred_status}}</span>
            </h3>

            <p class="small text-muted">
                Last Activity: 
                <span class='text-{{result.object.actions.first.label}}'>
                    {{result.object.current_action.description | remove_action_subj}}
                </span>
                on {{result.object.last_action_date|date:'M d, Y'}}
            </p>

            {% if query %}
                <p class="small">{% highlight result.text with query css_class "bg-info" %}</p>
            {% else %}
                <p class="small">{{result.object.description | short_blurb}}</p>
            {% endif %}
            <hr />
        {% empty %}
            <p>No results found.</p>
        {% endfor %}
        </div>
    </div>
    {% if page.has_previous or page.has_next %}
        <div class="row">
            <div class="col-md-8 col-md-offset-4">
                <nav>
                    <ul class="pagination">
                        {% if page.has_previous %}
                            <li>
                                <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo; Previous</span></a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo; Previous</span></a>
                            </li>
                        {% endif %}

                        {% if page.has_next %}
                            <li>
                                <a href="?q={{ query }}&amp;page={{ page.next_page_number }}" aria-label="Next"><span aria-hidden="true">Next &raquo;</span></a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#" aria-label="Next"><span aria-hidden="true">Next &raquo;</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    {% endif %}
{% endblock %}
