{% extends "base_with_margins.html" %}
{% block title %}About{% endblock %}
{% block content %}

    <div class="row-fluid clearfix">
        <div class="col-xs-7 no-pad-mobile">
            <h2>About</h2>
            <p>NYC Councilmatic is a tool for understanding and tracking what’s happening in New York City Council.</p>
            <p>This site connects NYC residents to local city council offices, for greater online public dialogue about issues in their communities. </p>
            
        </div>
        <div class="col-xs-5 no-pad-mobile">
            <br/>
            <div class="well well-sm">
                <h4>Contents</h4>
                <ul class="less-pad-list">
                    <li class="small">
                        <a href="#about-city-council">How does New York City Council work, anyway?</a>
                    </li>
                    <li class="small">
                        <a href="#open-data-open-source">Open Data, Open Source</a>
                    </li>
                    <li class="small">
                        <a href="#team">Team</a>
                    </li>
                    <li class="small">
                        <a href="#credits">Credits</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row-fluid clearfix">
        <div class="col-sm-12">
            <p>Councilmatic helps you:</p>
            <ul>
                <li>
                    Keep up with what your local representative is up to
                </li>
                <li>
                    See the schedule of public events
                </li>
                <li>
                    Track issues you care about (coming soon!)
                </li>
            </ul>

            <p>NYC Councilmatic is <strong>free</strong>, <strong>non-profit</strong>, and <strong>non-partisan</strong> - the first website of its kind for open access to official NYC city council information.</p>
        </div>
    </div>


    <div class="row-fluid clearfix" id="about-city-council">
        <div class="col-sm-12">
            <br/><br/>
            <h3>How does New York City Council work, anyway?</h3>

            <p>The New York City Council has 51 council seats, with each representative typically serving a four year term.</p>

            <p>The Council is an equal partner with the Mayor in governing New York City. Its responsibilities include:</p>
            <ul>
                <li>
                    Discussing and approving local legislation
                </li>
                <li>
                    Making land use decisions
                </li>
                <li>
                    Approving the city's budget
                </li>
            </ul>


            <p>Below are the primary types of city council activity.</p>

            <table class="table">
                <thead>
                    <tr>
                        <th>Legislation Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                {% for leg_type in legislation_type_descriptions %}
                    <tr>
                        <td>
                            <i class="fa fa-fw fa-{{leg_type.fa_icon}}"></i> 
                            <a href="/search/?q=&selected_facets=bill_type_exact:{{leg_type.search_term}}">
                                {{leg_type.name}}
                            </a>
                        </td>
                        <td>
                            {% if leg_type.html_desc %}
                                <p>{{leg_type.desc|safe}}</p>
                            {% else %}
                                <p>{{leg_type.desc}}</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p>
                Introductions are the most interesting type of legislation because they are proposals for new laws. Once an introduction is passed, it becomes a Local Law - <a href="http://legistar.council.nyc.gov/LegislationDetail.aspx?ID=2328524&GUID=E0B4EE30-B5F7-4E90-9C97-CF96D5385E01" target="_blank">see all Local Laws for 2015</a>.
            </p>

            <p>
                Most of the Council's legislative action happens in committees. Each committee meets in public hearings 2-3 per month - there, proposed legislation is debated. Members of other government branches, as well as the public, are able to comment at these hearings.
            </p>

            <p>
                Meetings of the entire Council, referred to as Stated Meetings, occur twice a month at City Hall. 
            </p>

        </div>
    </div>

    <div class="row-fluid clearfix" id="open-data-open-source">
        <div class="col-sm-12">
            <br/><br/>
            <h3>Open Data, Open Source</h3>
            <p>words words words</p>
        </div>
    </div>

    <div class="row-fluid clearfix" id="team">
        <div class="col-sm-12">
            <br/><br/>
            <h3>Team</h3>
            <p>words words words</p>
        </div>
    </div>

    <div class="row-fluid clearfix" id="credits">
        <div class="col-sm-12">
            <br/><br/>
            <h3>Credits</h3>
            <p>words words words</p>
        </div>
    </div>


{% endblock %}