{% extends "base_with_margins.html" %}
{% block title %}About{% endblock %}
{% block content %}

    <div class="row-fluid">
        <div class="col-sm-12">
            <h2>About</h2>
            <hr>
            Keep track of what {{city_council_name}} is doing.

            <h3>Types of Legislation</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Legislation Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                {% for leg_type in legislation_type_descriptions %}
                    <tr>
                        <td>
                            <a href="/search/?q=&selected_facets=bill_type_exact:{{leg_type.search_term}}">
                                {{leg_type.name}}
                            </a>
                        </td>
                        <td>
                            {% if leg_type.html_desc %}
                                <p>{{leg_type.desc|safe}}</p>
                            {% else %}
                                <p>{{leg_type.desc}}</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}