{% extends "base.html" %}
{% block title %}Events{% endblock %}
{% block content %}

	{% if month_events %}
		<h3>{{first_date | date:"F Y"}}</h3>

		{% for date, event_list in month_events %}
			<h5 class="text-primary">{{date | date:"D m/d/Y"}}</h5>
			{% for event in event_list %}
				{% include "partials/event_item.html" %}
			{% endfor %}
		{% endfor %}

	{% else %}
		{% if upcoming_events %}
		<h3>Upcoming Events</h3>
			{% for date, event_list in upcoming_events %}
				<h5 class="text-primary">{{date | date:"D m/d/Y"}}</h5>
				{% for event in event_list %}
					{% include "partials/event_item.html" %}
				{% endfor %}
			{% endfor %}
		{% else %}
			<h2>No Upcoming Events</h2>
			<hr/>
		{% endif %}

		{% if past_events %}
		<h2>Past Events</h2>
			{% for date, event_list in past_events %}
				<h5 class="text-primary">{{date | date:"D m/d/Y"}}</h5>
				{% for event in event_list %}
					{% include "partials/event_item.html" %}
				{% endfor %}
			{% endfor %}
		{% endif %}
	{% endif %}

{% endblock %}