{% extends "base.html" %}
{% block title %}Events{% endblock %}
{% block content %}

	{% if month_events %}
		<h2>Events: {{first_date | date:"F Y"}}</h2>
		<hr />

		{% for date, event_list in month_events %}
			{% include "partials/event_day.html" %}
		{% endfor %}

	{% else %}
		{% if upcoming_events %}
			<h3>Upcoming Events</h3>
			{% for date, event_list in upcoming_events %}
				{% include "partials/event_day.html" %}
			{% endfor %}
		{% else %}
			<h2>No Upcoming Events</h2>
			<hr/>
		{% endif %}

		{% if past_events %}
			<h2>Past Events</h2>
			{% for date, event_list in past_events %}
				{% include "partials/event_day.html" %}
			{% endfor %}
		{% endif %}
	{% endif %}

{% endblock %}