{% extends "base_with_margins.html" %}
{% load extras %}
{% load staticfiles %}
{% block title %}{{event.name}}{% endblock %}
{% block content %}

    <div class="row-fluid">
        <div class="col-sm-12">
            <br/>
            <h1>{{event.name}}</h1>
            <p>{{event.description}}</p>

            <p class="small text-muted">
                <i class="fa fa-fw fa-calendar-o"></i> {{event.start_time | date:"D m/d/Y"}}<br/>
                <i class="fa fa-fw fa-clock-o"></i> {{event.start_time | date:"g:i a"}}<br/>
                <i class="fa fa-fw fa-map-marker"></i> {{event.location_name}}
            </p>

            <p class="small">
                <a href='{{event.source_url}}' title='View the source for this page' target="_blank">
                    <i class='fa fa-fw fa-external-link'></i> 
                    View the source for this page
                </a>
            </p>

            <hr />

            {% if participants %}
            <h3><i class="fa fa-fw fa-users"></i> Participants</h3>
            <p>
                <ul>
                {% for participant in participants %}
                    <li>{{participant.link_html | safe}}</li>
                {% endfor %}
                </ul>
            </p>
            {% endif %}

            {% if agenda_clean %}
            <h3><i class="fa fa-fw fa-list"></i> Agenda</h3>
            <p>
                <ol>
                    {% for agenda_item in agenda_clean %}
                        <li>{{agenda_item}}</li>
                    {% endfor %}
                </ol>
            </p>
            {% endif %}

            {% if event.documents.all %}
            <h3><i class="fa fa-fw fa-paperclip"></i> Attachments</h3>
            <p>
                <ul>
                {% for document in event.documents.all %}
                    <li><a href="{{document.document.url}}">{{document.document.note}}</a></li>
                {% endfor %}
                </ul>
            </p>
            {% endif %}

        </div>
    </div>

{% endblock %}
