{% extends "base.html" %}
{% block title %}Keep tabs on what your city council is doing{% endblock %}
{% block content %}
  	<div class="row-fluid">
        <div class='col-sm-10 col-sm-offset-1'>
            <br/>
            <div class='jumbotron'>
      			<h3>Search {{city_name}} Legislation</h3>
                <form class="search form-search" action="/search/" method="GET">
                  <div class="input-group">
                    <input name="q" type="text" class="input-lg form-control" placeholder="{{search_placeholder_text}}">
                    <div class='input-group-btn'>
                        <button type="submit" class="btn btn-lg btn-info">
                            <i class='fa fa-fw fa-search'></i>
                            Search
                        </button>
                    </div>
                  </div>
                </form>
      		</div>
        </div>
    </div>
    <div class="row-fluid">
        <div class='col-sm-10 col-sm-offset-1'>
  			<h2>Recently Passed<br/><span class="text-muted small">Legislation signed into law over the past 30 days</span></h2>
    			{% for legislation in recently_passed %}
            {% include "partials/legislation_item_passed.html" %}
          {% endfor %}
        </div>
  	</div>
{% endblock %}