{% extends "base.html" %}
{% block title %}Keep tabs on what your city council is doing{% endblock %}
{% block full_content %}
    <div class="container-fluid" id="section-photo">
        <div class="photo-layer"></div>
        <div class="row-fluid">
            <div class='col-sm-10 col-sm-offset-1'>
                <br/><br/>
                <h2 class="site-intro">
                    <span class="text-bg">Keep tabs on what your city council is up to</span>
                </h2>
                <br/>
                <h4>
                    <span class="text-bg">Search {{city_name}} Legislation</span>
                </h4>
                <form class="search form-search=" action="/search/" method="GET">
                    <div class="input-group site-intro-search">
                        <input name="q" type="text" class="input-lg form-control" placeholder="{{search_placeholder_text}}">
                        <div class='input-group-btn'>
                            <button type="submit" class="btn btn-lg btn-success">
                                <i class='fa fa-fw fa-search'></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include "partials/featured_bills.html" %}

    <div class="container-fluid" id="section-recently-passed">
        <div class="row-fluid">
            <div class='col-sm-10 col-sm-offset-1'>
                <h2>
                    Recently Passed<br/><span class="text-muted small">Legislation signed into law in the past 30 days</span>
                </h2>
                <hr/>
                {% for legislation in recently_passed %}
                    {% include "partials/legislation_item_passed.html" %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% if next_council_meeting or upcoming_committee_meetings %}
    <div class="container-fluid" id="section-events">
        <div class="row-fluid">
            <div class='col-sm-10 col-sm-offset-1'>
                <h2>Events</h2>
                {% if next_council_meeting %}

                    <div class="alert alert-info">
                        <strong>
                            Next City Council Meeting: 
                            {{next_council_meeting.start_time | date:"l, N j Y"}}
                        </strong>
                        &nbsp;&nbsp;
                        <a class="small" href="{{next_council_meeting.event_page_url}}">
                            DETAILS <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>

                {% endif %}

                {% if upcoming_committee_meetings %}
                    <h4>Upcoming Committee Meetings</h4>
                    {% for event in upcoming_committee_meetings %}
                        {% include "partials/event_item.html" %}
                    {% endfor %}

                    <a href="/events/" class="btn btn-sm btn-default">
                        View All Upcoming Events
                        <i class="fa fa-fw fa-chevron-right"></i>
                    </a>
                {% endif %}

            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}