/* styling the home page */
body {
    padding-top: 0;    
    color: #000000;
}

#section-photo{
    background-image:
        linear-gradient(
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3)
        ),
        url('../images/nyc-hall-cropped.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
}

.photo-credit{
    color: #ccc;
    font-size: 8px;
}

#section-events{
    background-color: #F8F8F8;
}
#featured-bills{
    background-color: #F0F0F0;
    padding-top: 30px;
}
#featured-bills, #section-recently-passed, #section-events{
    padding-bottom: 30px;
}

.well-featured{
    border: none;
    background-color: #F8F8F8;

}
.well-featured > h3{
    margin-top: 0;
}

.alert-signup {
    margin-top: 20px;
}

.well-announcement {
    margin-top: 10%;
    background: rgba(227, 227, 227, 0.875);
    border-radius: 2px;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .navbar-brand {
        width: 100%;
        padding: 19.5px 15px;
        height: 35px;
        margin-left: -15px;
    }
}
