body {
	padding-top: 70px;
}

table, p, body {
    font-size: 16px;
}

h1, h2, h3, h4 {
	font-weight: 900;
}

.navbar-brand {
	font-weight: 900;
}

.footer {
    border-top: 1px solid #ccc;
    padding: 20px 0;
}

#council-members img {
    width: 70px;
}

#council-members td {
    font-size: 1.2em;
}