{% extends 'base.html' %}
{% load nyc_extras %}
{% load highlight %}
{% block title %}
    {% if request.GET.q %}
        Search results for '{{ request.GET.q }}'
    {% else %}
        Search for New York City Legislation
    {% endif %}
{% endblock %}
{% block content %}
    <div class='jumbotron'>
        <h3>Search for New York City Legislation</h3>
        <form method="get" action=".">
            <div class="input-group">
                <input name="q" type="text" class="input-lg form-control" placeholder="Committee on Finance, taxi, Resolution 0815-2015, etc." value="{{ request.GET.q }}">
                <div class='input-group-btn'>
                    <button type="submit" class="btn btn-lg btn-info">
                        <i class='fa fa-fw fa-search'></i>
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Filter results</h3>
                </div>
                <div class="panel-body">
                    {% for f_name, facet_values in facets.fields.items %}
                    <p><strong>{{ f_name | facet_name }}</strong></p>
                    <ul>
                        {% for name, count in facet_values %}
                            {% if count %}
                                <li>
                                    <a href="/search/?q={{query}}&selected_facets={{f_name}}_exact:{{name}}">
                                        {{ name|title }}
                                    </a> ({{ count }})
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% if query %}
                <h3>{{ paginator.count }} legislation result{{ paginator.count|pluralize }} for '{{ request.GET.q }}'</h3>
            {% endif %}

        {% for result in page.object_list %}

            <h3><a href="/bill-detail/{{ result.object.slug }}">{{ result.object.friendly_name }}</a></h3>

            <span class='label label-{{result.object.actions.first.label}}'>
                {{result.object.current_action.description | remove_action_subj}}
            </span>
            &nbsp;by

            {{result.object.current_action.organization.link_html | safe}}
            on {{result.object.last_action_date|date:'M d, Y'}}
            </p>

            {% if query %}
                <p class="small">{% highlight result.text with query css_class "bg-info" %}</p>
            {% else %}
                <p class="small">{{result.object.description}}</p>
            {% endif %}
            <hr />
        {% empty %}
            <p>No results found.</p>
        {% endfor %}
        </div>
    </div>
    {% if page.has_previous or page.has_next %}
        <div class="row">
            <div class="col-md-8 col-md-offset-4">
                <nav>
                    <ul class="pagination">
                        {% if page.has_previous %}
                            <li>
                                <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo; Previous</span></a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo; Previous</span></a>
                            </li>
                        {% endif %}

                        {% if page.has_next %}
                            <li>
                                <a href="?q={{ query }}&amp;page={{ page.next_page_number }}" aria-label="Next"><span aria-hidden="true">Next &raquo;</span></a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#" aria-label="Next"><span aria-hidden="true">Next &raquo;</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    {% endif %}
{% endblock %}
