{% extends "base.html" %}
{% block title %}{{committee.name}}{% endblock %}
{% block content %}

	<div class="row-fluid">
		<div class="col-sm-12">
			<h2>{{committee.name}}</h2>
			{% if committee.recent_activity %}
				<h4>Recent Activity</h4>
				<ul>
				{% for action in committee.recent_activity %}
					<li>
						<p class="small">{{action.date}}</p>
						<p>{{action.description}}</p>
						<p><a href="/bill-detail/{{action.bill.ocd_id}}">{{action.bill.name}}</a></p>
					</li>
				{% endfor %}
				</ul>
			{% else %}
				<h4>No recent activity</h4>
			{% endif %}

			{% if committee.memberships.all %}
				<h4>Members</h4>
				<ul>
					{% for membership in committee.memberships.all %}
						<li>
							<a href='/person/{{membership.person.ocd_id}}'>{{membership.person.name}}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>

{% endblock %}