{% extends "base.html" %}
{% block title %}{{committee.name}}{% endblock %}
{% block content %}

	<div class="row-fluid">
		<div class="col-sm-12">
			<h1>{{committee.name}}</h1>

			<table class='table' id='council-members'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Committee Member</th>
                    </tr>
                </thead>
                <tbody>
                    {% for membership in committee.memberships.all %}
                        <tr>
                            <td>
                                <img src='{{membership.person.headshot_url}}' alt='{{membership.person.name}}' title='{{membership.person.name}}' class='img-responsive img-thumbnail' />
                            </td>
                            <td>
                                <a href="/person/{{membership.person.ocd_id}}">
                                    {{membership.person.name}}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


			{% if committee.recent_activity %}
				<h2>Recent Activity</h2>
				<ul>
				{% for action in committee.recent_activity %}
					<li>
						<p class="small">{{action.date}}</p>
						<p>{{action.description}}</p>
						<p><a href="/bill-detail/{{action.bill.ocd_id}}">{{action.bill.name}}</a></p>
					</li>
				{% endfor %}
				</ul>
			{% else %}
				<h4>No recent activity</h4>
			{% endif %}
		</div>
	</div>

{% endblock %}