{% extends "base.html" %}
{% block title %}Keep tabs on what your city council is doing{% endblock %}
{% block content %}
  	<div class="row-fluid">
        <div class='col-sm-12'>
            <div class='jumbotron'>
      			<h3>Search for New York City Legislation</h3>
                <form class="search form-search" action="/search/" method="GET">
                  <div class="input-group">
                    <input name="q" type="text" class="input-lg form-control" placeholder="Committee on Finance, zoning, Resolution 0815-2015, etc.">
                    <div class='input-group-btn'>
                        <button type="submit" class="btn btn-lg btn-info">
                            <i class='fa fa-fw fa-search'></i>
                            Search
                        </button>
                    </div>
                  </div>
                </form>
      		</div>
        </div>
    </div>
    <div class="row-fluid">
        <div class='col-sm-8'>
  			<h2>New Legislation</h2>
  			{% include "partials/legislation_list.html" %}
        </div>
  	</div>
{% endblock %}