{% extends "base.html" %}
{% load nyc_extras %}
{% load staticfiles %}
{% block title %}{{ legislation.friendly_name }}{% endblock %}
{% block content %}
  	{% if legislation %}
  		<div class="row-fluid">
	        <div class="col-sm-11">
	            <h1>
                    {{ legislation.friendly_name }}
                </h1>
            </div>
            <div class="col-sm-1">
                <p class='h3'>
                    <a href='{{legislation.source_url}}' title='View the source for this page'><i class='fa fa-fw fa-external-link'></i></a>
                </p>
            </div>
        </div>


        <div class="row-fluid">
            <div class="col-sm-10">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Legislation Status</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row-fluid">
                            <div class="col-xs-6">
                                <p class="h4">Last Action</p>
                                <p>
                                    <span class='label label-{{legislation.current_action.label}}'>{{legislation.current_action.description | remove_action_subj }}</span>
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <p class="h4">Controlling Body</p>
                                <p>
                                    {% for org in legislation.controlling_body %}
                                        <i class="fa fa-users"></i> {{ org.name }}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="row-fluid">
            <div class="col-sm-12">

                <p>{{ legislation.description }}</p>
	            <hr />

                <ul class="nav nav-pills">
                  {% if actions %}
                    <li role="presentation" {% if request.GET.view == 'actions' or request.GET.view == None %}class='active' {% endif %}>
                        <a href="/legislation/{{legislation.slug}}?view=actions"><i class='fa fa-fw fa-list-ul'></i> Bill History</a>
                    </li>
                  {% endif %}
                  <li role="presentation" {% if request.GET.view == 'sponsors' %}class='active' {% endif %}>
                    <a href="/legislation/{{legislation.slug}}?view=sponsors"><i class='fa fa-fw fa-group'></i> Sponsors ({{ legislation.sponsorships.all | length }})</a>
                  </li>
                  <li role="presentation" {% if request.GET.view == 'documents' %}class='active' {% endif %}>
                    <a href="/legislation/{{legislation.slug}}?view=documents"><i class='fa fa-fw fa-file-text-o'></i> Documents ({{ legislation.documents.all | length }})</a>
                  </li>
                  {% if legislation.full_text != "" %}
                    <li role="presentation" {% if request.GET.view == 'text' %}class='active' {% endif %}>
                        <a href="/legislation/{{legislation.slug}}?view=text"><i class='fa fa-fw fa-file-text-o'></i> Legislation Text</a>
                    </li>
                  {% endif %}
                  <li role="presentation" {% if request.GET.view == 'comments' %}class='active' {% endif %}>
                    <a href="/legislation/{{legislation.slug}}?view=comments"><i class='fa fa-fw fa-comments-o'></i> Comments (2)</a>
                </li>
                </ul>


			    {% if request.GET.view == 'actions' or request.GET.view == None %}
                    {% if actions %}
    			    	<h3><i class='fa fa-fw fa-list-ul'></i> Bill History</h3>

                        <table class='table' id='committee-actions'>
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Action</th>
                                    <th>Legislative body</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for action in actions %}
                                    <tr>
                                        <td class='nowrap'>{{action.date|date:'M d, Y'}}</td>
                                        <td><span class='label label-{{action.label}}'>{{action.description | remove_action_subj}}</span></td>
                                        <td>{{action.organization.link_html|safe}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
    				{% endif %}
                {% endif %}

                {% if request.GET.view == 'sponsors' %}
                    {% if legislation.sponsorships.all %}
                        <h3><i class='fa fa-fw fa-group'></i> Sponsors ({{legislation.sponsorships.all | length}})</h3>

                        <table class='table' id='council-members'>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Sponsor</th>
                                    <th>District</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for s in legislation.sponsorships.all %}
                                    <tr>
                                        <td>
                                            <img src='{{s.person.headshot_url}}' alt='{{s.person.name}}' title='{{s.person.name}}' class='img-responsive img-thumbnail' />
                                        </td>
                                        <td>
                                            <a href="/person/{{s.person.slug}}">
                                                {{s.person.name}}
                                            </a>
                                        </td>
                                        <td>
                                            {{s.person.council_seat}}
                                        </td>
                                        <td>
                                            {% if s.is_primary %}
                                                Primary sponsor
                                            {% else %}
                                                Sponsor
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h3>This legislation has no sponsors</h3>
                    {% endif %}
                {% endif %}

                {% if request.GET.view == 'documents' %}
                    {% if legislation.documents.all %}
                        <h3><i class='fa fa-fw fa-file-text-o'></i> Documents ({{legislation.documents.all | length}})</h3>

                        <ul>
                            {% for doc in legislation.documents.all %}
                                <li>
                                    <a href="{{doc.document.url}}" target="blank">{{ doc.document.note }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h3>This legislation has no documents</h3>
                    {% endif %}
                {% endif %}

                {% if request.GET.view == 'text' and legislation.full_text != "" %}
                    <h3><i class='fa fa-fw fa-file-text-o'></i> Legislation Text</h3>
                    <div class='panel panel-default'>
                        <div class='panel-body'>
                            {{ legislation.full_text|safe }}
                        </div>
                    </div>
                {% endif %}

                {% if request.GET.view == 'comments' %}
                    <h3><i class='fa fa-fw fa-comments-o'></i> What's your opinion?</h3>
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = 'nyccouncilmatic';
                        
                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                {% endif %}

			</div>
		</div>

	{% else %}
		<h3>Legislation not found</h3>
	{% endif %}


{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.sorting.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>

    <script>

        $("#council-members").DataTable({
            "info": false,
            "searching": false,
            "bLengthChange": false,
            "paging": false,
            "aaSorting": [ [3,'asc'] ],
            "aoColumns": [
                { "bSortable": false },
                null,
                { "sType": "num-html" },
                null
            ]
        });

        // for reference purposes
        console.log( "OCD ID: {{legislation.ocd_id}}" )

    </script>
{% endblock %}