{% extends "base.html" %}
{% block title %}{{ person.name }}{% endblock %}

{% block content %}

	<div class="row-fluid">
		<div class="col-sm-3">
            <img src='{{person.headshot_url}}' alt='{{person.name}}' title='{{person.name}}' class='img-responsive img-thumbnail' />
        </div>
        <div class='col-sm-9'>
            <h1>
                {{person.name}} 
                <small>
                    {{ person.council_seat }}
                    {% if person.is_speaker %}
                        <br /><span class='label label-default'>Council Speaker</span> <span class='label label-success'><i class='fa fa-fw fa-check-square-o'></i> Verified</span>
                    {% endif %}
                </small>
            </h1>

            {% if memberships %}
                <table class='table'>
                    <thead>
                        <tr>
                            <th>Member of</th>
                            <th>Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for membership in chairs %}
                            <tr>
                                <td><a href="/committee-detail/{{membership.organization.slug}}">{{membership.organization.name}}</a></td>
                                <td>Chairperson</td>
                            </tr>
                        {% endfor %}
                        {% for membership in memberships %}
                            <tr>
                                <td><a href="/committee-detail/{{membership.organization.slug}}">{{membership.organization.name}}</a></td>
                                <td>Member</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <h2>Sponsored Bills</h2>

            {% if sponsorships %}
                {% for s in sponsorships %}
                    <h3><a href="/bill-detail/{{ s.bill.slug }}">{{ s.bill.friendly_name }}</a></h3>

                    <span class='label label-{{s.bill.current_action.label}}'>{{s.bill.current_action.description}}</span> by <a href='/committee-detail/{{ s.bill.current_org.ocd_id }}'>{{ s.bill.current_org.name }}</a> on {{s.bill.current_action.date|date:'M d, Y'}}
                    </p>

                    <p>{{ s.bill.name }}</p>

                    {% if s.bill.sponsorships.all %}
                        Sponsored by: 
                        {% for sp in s.bill.sponsorships.all %}
                            <a href="/person/{{sp.person.slug}}">{{sp.person.name}}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}

                {% endfor %}

            {% endif %}
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>

        // for reference purposes
        console.log( "OCD ID: {{person.ocd_id}}" )

    </script>
{% endblock %}