{% extends "base.html" %}
{% block title %}{{ person.name }}{% endblock %}

{% block content %}

	<div class="row-fluid">
		<div class="col-sm-3">
            <img src='{{person.headshot_url}}' alt='{{person.name}}' title='{{person.name}}' class='img-responsive img-thumbnail' />
        </div>
        <div class='col-sm-9'>
            <h1>
                {{person.name}} 
                <small>
                    {{ person.council_seat }}
                    {% if person.is_speaker %}
                        <br /><span class='label label-default'>Council Speaker</span>
                    {% endif %}
                </small>
            </h1>

            {% if memberships %}
                <table class='table'>
                    <thead>
                        <tr>
                            <th>Member of</th>
                            <th>Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for membership in chairs %}
                            <tr>
                                <td><a href="/committee-detail/{{membership.organization.slug}}">{{membership.organization.name}}</a></td>
                                <td>Chairperson</td>
                            </tr>
                        {% endfor %}
                        {% for membership in memberships %}
                            <tr>
                                <td><a href="/committee-detail/{{membership.organization.slug}}">{{membership.organization.name}}</a></td>
                                <td>Member</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <h2>Sponsored Bills</h2>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>

        // for reference purposes
        console.log( "OCD ID: {{person.ocd_id}}" )

    </script>
{% endblock %}