{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %} - {{city_name}} Councilmatic</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.journal.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />

</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid container-fluid-nav">

        <div id="nav-title">
          <a class="navbar-brand" href="/">
            {{city_name}} Councilmatic
          </a>
        </div>
        <ul id="nav-items">
          <li>
            <a href="/search">Search</a>
          </li>
          <li>
            <a href='/council-members'>Council Members</a>
          </li>
          <li>
            <a href='/committees'>Committees</a>
          </li>
          <li>
            <a href='/events'>Events</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>

    </div>
  </nav>

  <div class="container-fluid">
    <div class='col-sm-10 col-sm-offset-1'>
      {% block content %}
      {% endblock %}

      <div class='clearfix'></div>
      <div class="footer">
        <p>
          Brought to you by the <a href='http://www.participatorypolitics.org/'>Participatory Politics Foundation</a><br />
          Built by <a href='http://datamade.us'>DataMade</a>
      </div>
    </div>
  </div>

  <script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  
  {% block extra_js %}{% endblock %}

  <script src="{% static 'js/analytics_lib.js' %}"></script>

</body>
</html>