<div class="container-fluid featured-bill" id="uber-battle">
    <div class="row-fluid">
        <div class='col-sm-10 col-sm-offset-1'>
        	<h3>
        		<span class="small">
        			<i class="fa fa-star-o"></i>
					FEATURED BILL
				</span><br/>
        		Study on Traffic Congestion & For-Hire Vehicles
        	</h3>
        	<p>
        		Mayor de Blasio has claimed that ride share services cause traffic problems. In August, he approved a bill to conduct a study on how growth in the for-hire industry has impacted traffic, air quality, noise, & public health.
        	</p>
        	<p>
        		Uber accused the city of moving too fast, asserting that a study should take longer than the four months provided and commissioning its own study on the issue.
        	</p>
        	<button class="btn btn-info">
        		View bill details ->
        	</button>
        </div>
    </div>
</div>

<div class="container-fluid featured-bill" id="body-cameras">
    <div class="row-fluid">
        <div class='col-sm-10 col-sm-offset-1'>
        	<h3>
        		<span class="small">
        			<i class="fa fa-star-o"></i>
					FEATURED BILL
				</span><br/>
        		Task Force on Police Body Cameras
        	</h3>
        	<p>
        		After the deaths of Walter Scott in South Carolina and Eric Garner in New York, many called for police officers to wear body cameras for accountability. This bill proposes the creation of a task force to study issues related to police body cameras.
        	</p>
        	<p>
        		This was one of nine police reform bills considered during a hearing on 6/29, held by the Committee on Public Safety. At the hearing, all nine bills were laid over, meaning that no further actions or votes were taken.
        	</p>
        	<button class="btn btn-info">
        		View bill details ->
        	</button>
        </div>
    </div>
</div>
