<div class="container-fluid featured-bill">
    <div class="row-fluid">
        <div class='col-sm-10 col-sm-offset-1'>
        	<h3>
        		<span class="small">
        			<i class="fa fa-star-o"></i>
					Featured Bill
				</span><br/>
        		Study on Traffic Congestion & For-Hire Vehicles
        	</h3>
        	<p>
        		Mayor de Blasio has claimed that ride share services have caused traffic problems. In August, he approved a bill to conduct a study on how growth in the for-hire industry has impacted traffic, air quality, noise, & public health. Uber accused the city of moving too fast, asserting that it should take longer than the four months provided and commissioning its own study on the issue.
        	</p>
        	<button class="btn btn-info">
        		View bill details ->
        	</button>
        </div>
    </div>
</div>

<div class="container-fluid featured-bill">
    <div class="row-fluid">
        <div class='col-sm-10 col-sm-offset-1'>
        	<h3>
        		<span class="small">
        			<i class="fa fa-star-o"></i>
					Featured Bill
				</span><br/>
        		Task force on Police Body Cameras
        	</h3>
        	<p>
        		After the deaths of Walter Scott in South Carolina and Eric Garner in New York, many called for police officers to wear body cameras for accountability. In June, the city council introduced a bill to create a task force for studying issues related to police body cameras. This was one of nine police reform-related bills considered during a hearing on 6/29, held by the Committee on Public Safety. At the hearing, all nine bills were laid over, meaning that no further actions or votes were taken.
        	</p>
        	<button class="btn btn-info">
        		View bill details ->
        	</button>
        </div>
    </div>
</div>
