{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %} - New York City Councilmatic</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'nyc/bootstrap.journal.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'nyc/style.css' %}" />

</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">

        <!-- hamburger menu button -->
        <button class="navbar-toggle collapsed" aria-controls="navbar" aroa=expanded="false" data-target="#nav-items" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          New York City Councilmatic
        </a>
      </div>

      <div id="nav-items" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/search">Search</a>
          </li>
          <li>
            <a href='/council-members'>Council Members</a>
          </li>
          <li>
            <a href='/committees'>Committees</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  <div class="container-fluid">
    {% block content %}
    {% endblock %}
  </div>

  <script type="text/javascript">

  </script>

</body>
</html>