<div class="container-fluid" id="featured-bills">
    <div class="row-fluid">
        <div class='col-sm-10 col-sm-offset-1'>

            <div class="well well-featured">

                <h3>
                   <span class="small">
                        <i class="fa fa-star"></i>
                        FEATURED LEGISLATION
                    </span><br/>
                    Freelance Isn't Free
                </h3>
                <div class='row'>
                    <div class='col-sm-8'>
                        <p>
                            On December 7th, along with 26 city council co-sponsors, <a href="https://www.freelancersunion.org/" target="_blank">Freelancers Union</a> introduced the <a href="https://www.freelancersunion.org/advocacy/" target="_blank">#freelanceisntfree</a> bill. This is the nation's first <a href="https://www.washingtonpost.com/news/wonk/wp/2015/12/07/for-freelancers-getting-stiffed-is-part-of-the-job-some-in-new-york-city-want-to-fix-it/" target="_blank">proposed legislation</a> protecting NYC's 1.3 million freelancers against client nonpayment. Clients who do not provide a contract, are late to pay, or fail to pay a freelancer for work can be sued.
                        </p>
                        <p>
                            The bill's public hearing in the <a href="/committee/committee-on-consumer-affairs/" target="_blank">Consumer Affairs committee</a> will be Monday, Feb 29th, at 1pm at City Hall.
                        </p>
                        <a href="/legislation/int-1017-2015/" class="btn btn-sm btn-primary">
                            Details
                            <i class="fa fa-fw fa-chevron-right"></i>
                        </a>
                    </div>
                    <div class='col-sm-4 hidden-sm hidden-xs'>
                        <img class='img-responsive img-thumbnail' src='/static/images/featured/freelance.jpg' />
                    </div>
                </div>
            </div>


            <div class="well well-featured">

                <h3>
                    <span class="small">
                        <i class="fa fa-star"></i>
                        FEATURED LEGISLATION
                    </span><br/>
                    Task Force on Police Body Cameras
                </h3>
                <div class='row'>
                    <div class='col-sm-8'>
                        <p>
                            After the deaths of Walter Scott in South Carolina and Eric Garner in New York, <a href="http://www.nydailynews.com/new-york/city-council-members-put-body-cameras-article-1.2180212" target="_blank">many called for police officers to wear body cameras</a> for accountability. This bill proposes the creation of a task force to study issues related to police body cameras.
                        </p>
                        <p>
                            This was one of nine police reform bills considered during a hearing on 6/29, held by the Committee on Public Safety. At the hearing, all nine bills were laid over, meaning that no further actions or votes were taken.
                        </p>
                        <a href="/legislation/int-607-2014/" class="btn btn-sm btn-primary">
                            Details
                            <i class="fa fa-fw fa-chevron-right"></i>
                        </a>
                    </div>
                    <div class='col-sm-4 hidden-sm hidden-xs'>
                        <img class='img-responsive img-thumbnail' src='/static/images/featured/body-cams.png' />
                    </div>
                </div>

            </div>





        </div>
    </div>
</div>
