<div class="container-fluid" id="featured-bills">
    <div class="row-fluid">
        <div class='col-sm-10 col-sm-offset-1'>

            <div class="well well-featured">

                <h3>
                   <span class="small">
                        <i class="fa fa-star"></i>
                        FEATURED LEGISLATION
                    </span><br/>
                    New York City Veterans Alliance
                </h3>
                <div class='row'>
                    <div class='col-sm-8'>
                        <p>
                            On August 16th, the <a href="http://www.nycveteransalliance.org/" target="_blank">New York City Veterans Alliance</a> introduced a bill to add uniformed service status as a protected class under NYC's non-discrimination statutes. The bill's primary sponsors are NYC Public Advocate Letitia James and council member <a href="{% url 'person' 'jumaane-d-williams-59692e558512' %}" target="_blank">Jumaane Williams</a>, with two council co-sponsors. Nine veterans posted public comments of support on the NYC Councilmatic bill page - for example, "My husband and I were turned away from several apartments we applied to because the landlords were 'uncomfortable' with us using his VA disability payments as income."
                        </p>
                        <p>
                            The bill is currently referred to the <a href="{% url 'committee_detail' 'committee-on-civil-rights-5156734563e3' %}" target="_blank">Committee on Civil Rights</a>, but is not scheduled for the committee's final hearing of the year on December 13th.
                        </p>

                        <a href="{% url 'bill_detail' 'int-1259-2016' %}" class="btn btn-sm btn-primary" target="_blank">
                            Details
                            <i class="fa fa-fw fa-chevron-right"></i>
                        </a>
                    </div>
                    <div class='col-sm-4 hidden-sm hidden-xs'>
                        <img class='img-responsive img-thumbnail' src='/static/images/featured/veterans.png' />
                    </div>
                </div>
            </div>


            <div class="well well-featured">
                <h3>
                    <span class="small">
                        <i class="fa fa-star"></i>
                        FEATURED LEGISLATION
                    </span><br/>
                    Task Force on Police Body Cameras
                </h3>
                <div class='row'>
                    <div class='col-sm-8'>
                        <p>
                            After the deaths of Walter Scott in South Carolina and Eric Garner in New York, <a href="http://www.nydailynews.com/new-york/city-council-members-put-body-cameras-article-1.2180212" target="_blank">many called for police officers to wear body cameras</a> for accountability. This bill proposes the creation of a task force to study issues related to police body cameras.
                        </p>
                        <p>
                            This was one of nine police reform bills considered during a hearing on 6/29, held by the Committee on Public Safety. At the hearing, all nine bills were laid over, meaning that no further actions or votes were taken.
                        </p>
                        <a href="{% url 'bill_detail' 'int-607-2014-2a3e6fa189f6' %}" class="btn btn-sm btn-primary" target="_blank">
                            Details
                            <i class="fa fa-fw fa-chevron-right"></i>
                        </a>
                    </div>
                    <div class='col-sm-4 hidden-sm hidden-xs'>
                        <img class='img-responsive img-thumbnail' src='/static/images/featured/body-cams.png' />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

