{% load nyc_extras %}

<h3><a href="/bill-detail/{{ legislation.slug }}">{{ legislation.friendly_name }}</a></h3>

<span class='label label-{{legislation.current_action.label}}'>{{legislation.current_action.description | remove_action_subj }}</span> by <a href='/committee-detail/{{ legislation.current_org.ocd_id }}'>{{ legislation.current_org.name }}</a> on {{legislation.current_action.date|date:'M d, Y'}}
</p>

<p>{{ legislation.name }}</p>

{% if legislation.sponsorships.all %}
    Sponsored by: 
    {% for s in legislation.sponsorships.all %}
        <a href="/person/{{s.person.slug}}">{{s.person.name}}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
{% endif %}
