{% load nyc_extras %}

<h3>
	<a href="/legislation/{{ legislation.slug }}">{{ legislation.friendly_name }}</a>
	<span class='label label-{{legislation.inferred_status | lower}}'>{{legislation.inferred_status}}</span>
</h3>

<p>
	<i class="fa fa-calendar-o"></i> {{legislation.last_action_date|date:'M d, Y'}} - {{legislation.current_action.description | remove_action_subj }}<br>

	{% if legislation.sponsorships.all %}
    	<i class="fa fa-user"></i> Primary Sponsor: 
    	<a href="/person/{{ legislation.primary_sponsor.person.slug }}">{{ legislation.primary_sponsor.person.name }}</a>
	{% endif %}
</p>

<p class="small">{{ legislation.description }}</p>
