body {
	padding-top: 70px;
}

table, p, body {
    font-size: 16px;
}

h1, h2, h3, h4 {
	font-weight: 900;
}

.navbar-brand {
	font-weight: 900;
}

.navbar {
    font-size: 20px;
}

.footer {
    border-top: 1px solid #ccc;
    padding: 20px 0;
    margin-top: 100px;
    background-color: #fefefe;
}

.nowrap { white-space:nowrap; }

#council-members img {
    width: 50px;
}

#sponsors img {
    width: 50px;
}

#council-members td, #committee-actions td {
    vertical-align: middle;
}

.label-large{
    font-size: 1.6em;
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    display: inline-block;
    margin-top: 16px;
}

.label-stale{
    background-color: #777;
}
.label-passed{
    background-color: #22B24C;
}
.label-approved{
    background-color: #A4D330;
}
.label-active{
    background-color: #D3C226;
}