body {
	padding-top: 60px;
    font-family: "Open Sans", sans-serif;
}

table, p, body {
    font-size: 16px;
}

h1, h2, h3, h4 {
	font-weight: 900;
}

.navbar-brand {
	font-weight: 900;
    min-width: 280px;
}

.navbar {
    font-size: 18px;
    margin-bottom: 0px;
}

#nav-items {
    float: right;
    list-style: outside none none;
    margin-bottom: 0px;
    padding-left: 0px;
}
#nav-items > li {
    position: relative;
    display: block;
    float: left;
}
#nav-items > li > a {
    color: #000;
    position: relative;
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 19.5px;
    padding-bottom: 19.5px;
    line-height: 21px;
}
#nav-items > li > a:hover, #nav-items > li > a:focus {
    color: #000;
    background-color: #EEE;
    text-decoration: none;
}


.nav-pills > li > a{
    border-radius: 0px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li > a:hover {
    background: none;
    color: #EB6864;
    border-bottom: 8px solid #EB6864;
}

.footer {
    padding: 10px 0px 0px 0px;
    border-top: 1px solid #eee;
}

.pad{
    height: 80px;
}
.no-pad-bottom{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.badge-muted{
    background-color: #aaa;
    font-weight: normal;
}
.pseudo-topic-tag{
    font-size: 12px;
}

.nowrap { white-space:nowrap; }

#council-members img {
    width: 50px;
}

.img-padded{
    margin-top: 16px;
    margin-bottom: 16px;
}

#sponsors img {
    width: 50px;
}

#council-members td, #committee-actions td {
    vertical-align: middle;
}

.jumbotron {
    background-color: rgba(238, 238, 238, .9);
    padding: 30px 30px 30px 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.jumbotron > h3 {
    margin-top: 0px;
}

.table-responsive{
    border: none;
}

.text-bg{
    color: #ddd;
}

.site-intro{
    padding-bottom: 0px;
    margin: 0px;
}

.site-intro-search > input{
    color: #333;
}
.site-intro-search, .site-intro-search > input, .site-intro-search > .input-group-btn > .btn{
    border-radius: 0px;
}
.site-intro-search > input {
    background-color: rgba(255,255,255,.85);
    border: 0px;
}
.site-intro-search > .input-group-btn > .btn-success{
    border-top: 1px solid #9CE06B;
    border-bottom: 1px solid #9CE06B;
    border-right: 0px;
    border-left: 0px;
}
.btn-success{
    background-color: #ADF674;
    color: #333;
}
.btn-success:hover, .btn-success:active{
    background-color: #9CE06B;
    border: 1px solid #9CE06B;
    color: #333;
}

.x-small{
    font-size: .75em;
}

.label-large{
    font-size: 1.6em;
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    display: inline-block;
    margin-top: 16px;
}

.label-stale{
    background-color: #777;
}
.label-passed{
    background-color: #22B24C;
}
.label-approved{
    background-color: #A4D330;
}
.label-active{
    background-color: #D3C226;
}


/* styling the home page */
#section-photo{
    background-image: url('../images/city_hall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 275px;
}
.photo-layer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 335px;
}
.photo-credit{
    color: #ccc;
    font-size: 8px;
}
#section-recently-passed{
    background-color: #F8F8F8;
}
#section-events{
    background-color: #f0f0f0;
}
.featured-bill, #section-recently-passed, #section-events{
    padding-bottom: 30px;
}
#uber-battle{
    background-color: #F8F8F8;
}
#body-cameras{
    background-color: #f0f0f0;
}

.mobile-only {
    display: none;
}


.search-facet-list{
    padding-left: 0px;
    list-style-type: none;
}



/* medium screens */
@media only screen and (max-width : 767px) {

    .navbar-brand {
        width: 100%;
        padding-top: 8px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        height: 35px;
    }

    #nav-items {
        float: left;
        min-width: 425;
    }

    #nav-items > li > a {
        font-size: 16px;
        padding-top: 4px;
        padding-bottom: 8px;
        line-height: 21px;
    }

    .bill-page-title{
        font-size: 26px;
    }
    h4, .h4 {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }

}

/* lil screens */
@media only screen and (max-width : 360px) {

    .container-fluid-nav{
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-brand {
        padding-left: 5px;
        padding-right: 5px;
    }

    #nav-items > li > a {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .col-sm-12, .table-col {
        padding-left: 0px;
        padding-right: 0px;
    }

    h1, .h1 {
        font-size: 28px;
    }
    .bill-page-title{
        font-size: 22px;
    }
    h2, .h2 {
        font-size: 28px;
    }
    h2 > .small {
        font-size: 14px;
    }
    h3, .h3 {
        font-size: 20px;
    }
    h4, .h4 {
        font-size: 12px;
    }

    p{
        font-size: 14px;
    }
    p.small, p > .small {
        font-size: 12px;
    }
    .pseudo-topic-tag{
        font-size: 10px;
    }

    .site-intro-search > input {
        height: 30px;
        padding: 2px 2px 2px 8px;
        font-size: 14px;
    }
    .site-intro-search > .input-group-btn > button{
        height: 30px;
        width: 30px;
        font-size: 14px;
        padding: 0px;
    }

    .mobile-only{
        display: inline;
    }
    .non-mobile-only{
        display: none;
    }

}