body {
	padding-top: 70px;
    font-family: "Open Sans", sans-serif;
}

table, p, body {
    font-size: 16px;
}

h1, h2, h3, h4 {
	font-weight: 900;
}

.navbar-brand {
	font-weight: 900;
    min-width: 280px;
}

.navbar {
    font-size: 18px;
}

#nav-items {
    float: right;
    list-style: outside none none;
    margin-bottom: 0px;
    padding-left: 0px;
}
#nav-items > li {
    position: relative;
    display: block;
    float: left;
}
#nav-items > li > a {
    color: #000;
    position: relative;
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 19.5px;
    padding-bottom: 19.5px;
    line-height: 21px;
}
#nav-items > li > a:hover, #nav-items > li > a:focus {
    color: #000;
    background-color: #EEE;
    text-decoration: none;
}


.nav-pills > li > a{
    border-radius: 0px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li > a:hover {
    background: none;
    color: #EB6864;
    border-bottom: 8px solid #EB6864;
}

.footer {
    border-top: 1px solid #ccc;
    padding: 20px 0;
    margin-top: 100px;
    background-color: #fefefe;
}

.nowrap { white-space:nowrap; }

#council-members img {
    width: 50px;
}

#sponsors img {
    width: 50px;
}

#council-members td, #committee-actions td {
    vertical-align: middle;
}

.label-large{
    font-size: 1.6em;
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    display: inline-block;
    margin-top: 16px;
}

.label-stale{
    background-color: #777;
}
.label-passed{
    background-color: #22B24C;
}
.label-approved{
    background-color: #A4D330;
}
.label-active{
    background-color: #D3C226;
}


/* medium screens */
@media only screen and (max-width : 767px) {

    .navbar-brand {
        width: 100%;
        padding-top: 8px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        height: 35px;
    }

    #nav-items {
        float: left;
        min-width: 425;
    }

    #nav-items > li > a {
        font-size: 16px;
        padding-top: 4px;
        padding-bottom: 8px;
        line-height: 21px;
    }

}

/* lil screens */
@media only screen and (max-width : 360px) {

    .container-fluid-nav{
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-brand {
        padding-left: 5px;
        padding-right: 5px;
    }

    #nav-items > li > a {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }

}