body {
	padding-top: 60px;
    font-family: "Open Sans", sans-serif;
}

table, p, body {
    font-size: 16px;
}

h1, h2, h3, h4 {
	font-weight: 900;
}

#logo{
    height: 45px;
    float: left;
    position: relative;
    top: -14px;
}

.navbar-brand {
	font-weight: 900;
    min-width: 280px;
}

.navbar {
    font-size: 18px;
    margin-bottom: 0px;
}

#nav-items {
    float: right;
    list-style: outside none none;
    margin-bottom: 0px;
    padding-left: 0px;
}
#nav-items > li {
    position: relative;
    display: block;
    float: left;
}
#nav-items > li > a {
    color: #000;
    position: relative;
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 19.5px;
    padding-bottom: 19.5px;
    line-height: 21px;
}
#nav-items > li > a:hover, #nav-items > li > a:focus {
    color: #000;
    background-color: #EEE;
    text-decoration: none;
}


.nav-pills > li > a{
    border-radius: 0px;
    padding: 12px 10px 12px 10px;
    color: #3D8A8E;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li > a:hover {
    background: none;
    color: #3D8A8E;
    border-bottom: 8px solid #3D8A8E;
}

.footer {
    padding: 10px 0;
    border-top: 1px solid #eee;
    text-align: center;
}

.footer img {
    margin-right: 25px;
    margin-left: 25px;
}

.pad{
    height: 80px;
}
.no-pad-bottom{
    margin-bottom: 0;
    padding-bottom: 0;
}
.less-pad-list{
    padding-left: 12px;
}

.badge-muted{
    background-color: #aaa;
    font-weight: normal;
}
.pseudo-topic-tag{
    font-size: 12px;
}

.nowrap { white-space:nowrap; }

#council-members img {
    width: 50px;
}

.img-padded{
    margin-top: 16px;
    margin-bottom: 16px;
}

#sponsors img {
    width: 50px;
}

#council-members td, #committee-actions td {
    vertical-align: middle;
}

.jumbotron {
    background-color: rgba(238, 238, 238, .9);
    padding: 30px 30px 30px 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.jumbotron > h3 {
    margin-top: 0;
}

.table-responsive{
    border: none;
}

.text-bg{
    color: #fff;
}

.site-intro-search > input{
    color: #333;
    box-shadow: none;
}
.site-intro-search, .site-intro-search > input, .site-intro-search > .input-group-btn > .btn{
    border-radius: 0;
}
.site-intro-search > input {
    background-color: rgba(255,255,255,.85);
    border: 0;
}
.site-intro-search > .input-group-btn > .btn-success{
    border-top: 1px solid #3D8A8E;
    border-bottom: 1px solid #3D8A8E;
    border-right: 0;
    border-left: 0;
}
.btn-success{
    background-color: #3D8A8E;
    color: #333;
}
.btn-success:hover, .btn-success:active{
    background-color: #9CE06B;
    border: 1px solid #9CE06B;
    color: #333;
}

.x-small{
    font-size: .75em;
}

.label-large{
    font-size: 1.6em;
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    display: inline-block;
    margin-top: 16px;
}

.label-stale{
    background-color: #777;
}
.label-passed{
    background-color: #22B24C;
}
.label-approved{
    background-color: #A4D330;
}
.label-active{
    background-color: #D3C226;
}


select {
    margin-left: 0;
    margin-right: 10px;
    padding: 3px;
    font-size: 12px;
    border: 1px solid #ccc;
}
#month-dropdown{
    width: 100px;
}
#year-dropdown{
    width: 60px;
}
#event-menu{
    display: inline-block;
}


/* styling the home page */
#section-photo{
    background-image: 
        linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
        url('../images/nyc-hall-cropped.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
}

#section-photo h1 {
    color: #fff;
}

.photo-credit{
    color: #ccc;
    font-size: 8px;
}

#section-events{
    background-color: #F8F8F8;
}
#featured-bills{
    background-color: #F0F0F0;
    padding-top: 30px;
}
#featured-bills, #section-recently-passed, #section-events{
    padding-bottom: 30px;
}

.well-featured{
    border: none;
    background-color: #F8F8F8;

}
.well-featured > h3{
    margin-top: 0;
}



.mobile-only {
    display: none;
}
.non-desktop-only{
    display: none;
}


.search-facet-list{
    padding-left: 0;
    list-style-type: none;
}



/* medium screens */
@media only screen and (max-width : 767px) {

    .navbar-brand {
        width: 100%;
        padding-top: 8px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        height: 35px;
    }

    #nav-items {
        float: left;
        min-width: 425;
    }

    #nav-items > li > a {
        font-size: 16px;
        padding-top: 4px;
        padding-bottom: 8px;
        line-height: 21px;
    }

    .nav-pills > li > a{
        padding: 0 8px;
        font-size: 20px;
    }
    .small-pill{
        font-size: 14px;
    }


    .bill-page-title{
        font-size: 26px;
    }
    h4, .h4 {
        font-size: 14px;
    }
    p, ul>li {
        font-size: 14px;
    }

    #person-detail-headshot{
        max-height: 160px;
    }

    .desktop-only{
        display: none;
    }
    .non-desktop-only{
        display: inline;
    }

}

/* lil screens */
@media only screen and (max-width : 360px) {

    .container-fluid-nav{
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-brand {
        padding-left: 5px;
        padding-right: 5px;
    }
    #logo {
        height: 35px;
        top: -8px;
    }

    #nav-items > li > a {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .col-sm-12, .table-col, .no-pad-mobile {
        padding-left: 0;
        padding-right: 0;
    }

    h1, .h1 {
        font-size: 28px;
    }
    .bill-page-title{
        font-size: 22px;
    }
    h2, .h2 {
        font-size: 28px;
    }
    h2 > .small {
        font-size: 14px;
    }
    h3, .h3 {
        font-size: 20px;
    }
    h4, .h4 {
        font-size: 12px;
    }

    p, ul>li{
        font-size: 14px;
    }

    p.small, p > .small {
        font-size: 12px;
    }
    .pseudo-topic-tag{
        font-size: 10px;
    }

    .site-intro-search > input {
        height: 30px;
        padding: 2px 2px 2px 8px;
        font-size: 14px;
    }
    .site-intro-search > .input-group-btn > button{
        height: 30px;
        width: 30px;
        font-size: 14px;
        padding: 0;
    }


    .nav-pills > li > a{
        padding: 0 10px;
        font-size: 20px;
    }
    .small-pill{
        font-size: 14px;
    }


    .mobile-only{
        display: inline;
    }
    .non-mobile-only{
        display: none;
    }
    .desktop-only{
        display: none;
    }
    .non-desktop-only{
        display: inline;
    }

}